<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
    http://www.springframework.org/schema/beans/spring-beans-3.2.xsd  
    http://www.springframework.org/schema/context  
    http://www.springframework.org/schema/context/spring-context-3.2.xsd
    http://www.springframework.org/schema/security  
    http://www.springframework.org/schema/security/spring-security-3.1.xsd">


	<context:component-scan base-package="com.security" />
	<http pattern="/image.jsp*" security="none"></http>
	<http pattern="/login.jsp*" security="none"></http>
	<http pattern="/sign_up.html*" security="none"></http>
	<http pattern="/sign_in.do*" security="none"></http>
	<http pattern="/resource/**" security="none"></http>


	<http auto-config="true" entry-point-ref="entryPoint">
		
		<form-login login-page="/login.jsp" default-target-url="/index.do" always-use-default-target="true" />
		<logout logout-success-url="/login.jsp" />
		
		<intercept-url pattern="/org/**" access="ROLE_ORG,ROLE_ADMIN" />
		<intercept-url pattern="/PSG/**" access="ROLE_PSG,ROLE_ADMIN" />
		<intercept-url pattern="/TSG/**" access="ROLE_TSG,ROLE_ADMIN" />
		<intercept-url pattern="/staff/**" access="ROLE_STAFF,ROLE_ADMIN" />
		
		<session-management session-fixation-protection="none" invalid-session-url="/login.jsp" session-authentication-error-url="/login.jsp">
			<concurrency-control expired-url="/login.jsp" max-sessions="1" error-if-maximum-exceeded="false"/>
		</session-management>
	</http>
	
	<beans:bean id="sas" class="org.springframework.security.web.authentication.session.ConcurrentSessionControlStrategy">
		<beans:constructor-arg name="sessionRegistry" ref="sessionRegistry"></beans:constructor-arg>
		<beans:property name="maximumSessions" value="1"></beans:property>
		<beans:property name="exceptionIfMaximumExceeded" value="false"></beans:property>
	</beans:bean>
	<beans:bean id="sessionRegistry" class="org.springframework.security.core.session.SessionRegistryImpl"></beans:bean>
	
	<beans:bean id="entryPoint" class="com.security.entrypoint.MyCasAuthenticationEntryPoint" />
	<beans:bean id="messageResource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<beans:property name="basenames" value="classpath:/org/springframework/security/messages_zh_CN"></beans:property>
	</beans:bean>

	<authentication-manager>
		<authentication-provider ref="loginAuthenticationProvider" />
	</authentication-manager>
</beans:beans>